* {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif; }

/* Header Section Start */
.navbar-nav a {
  color: #ffffff;
  font-size: 15px; }

nav {
  background-color: #061e35 !important;
  opacity: 0.6;
  margin-top: -19px; }
  nav a {
    color: #ffffff;
    font-size: 15px; }
  nav a:hover {
    color: #0fffb0; }
  nav .navbar-toggler-icon {
    background: white; }

/* Header Section End */
/* Banner Section Start */
header {
  background-image: url(../img/web.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.banner_topics h2 {
  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 44px;
  font-weight: bold; }

.left {
  margin-right: 0.5rem;
  color: #ffffff;
  font-weight: bold; }

.right {
  color: #ffffff;
  font-weight: bold; }

/* Banner Section End */
.banner_topics p {
  top: 90%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 19px; }

/* Banner Section End */
#team {
  background: #46a3cc; }

.member h2 {
  font-size: 44px;
  color: #303030;
  font-weight: bold; }

.member p {
  font-size: 14px;
  line-height: 2rem;
  padding: 1rem;
  color: black; }

@media (max-width: 575px) {
  .development {
    margin-top: 2rem; } }

/* About Section Start */
#about_us {
  background: #00e0d0; }

.about h1 {
  font-weight: bold;
  font-size: 44px; }

.about img {
  border-radius: 20px;
  width: 30%;
  box-shadow: 0px 15px #6f3434b8;
  opacity: 1.4; }

.about p {
  font-size: 14px;
  line-height: 1.5rem; }

.about .skill {
  border-radius: 20px;
  border: 2px solid blue;
  font-size: 26px;
  cursor: auto; }

@media (max-width: 767px) {
  .about img {
    width: 50%; } }

@media (max-width: 575px) {
  .ll {
    margin-top: 5px; } }

#code {
  background-color: #2cbba0; }

/* About Section End */
footer {
  background: #45494d; }
  footer p {
    color: #57f7ac; }
  footer .fb {
    border-radius: 38px; }

/* Index  Section End */
/* Course  Section Start */
.course_second {
  background-color: #2cbba0; }
  .course_second h1 {
    font-size: 40px; }

.www {
  width: 100%;
  height: 480px; }

/* Web Design  Section End */
.webdesign {
  background-image: url(../img/web_design.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.webdesign_word {
  color: #04134d;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold; }

.html {
  background-image: url(../img/course_one.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.css {
  background-image: url(../img/csstwo.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/* Html  Section Start */
/* Web Develop  Section Start */
.webdev {
  background-image: url(../img/web_dev.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/* Code  Section Start */
.code {
  background-image: url(../img/php.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.contact_part {
  background: #2cbba0; }

h2 {
  font-weight: bold;
  text-transform: uppercase; }

.last {
  background-image: url(../img/contact.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@media (max-width: 991px) {
  .www {
    height: 363px; } }

@media (max-width: 767px) {
  .www {
    height: 337px; } }

@media (max-width: 575px) {
  .www {
    height: auto; }
  .course_dev {
    margin-top: 5px; } }

@media (max-width: 767px) {
  .course_second h1 {
    font-size: 30px; } }
